.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #348ceb !important;
}

,
.footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}

.navbar {
  transition: all 0.4s;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #3b64c4;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #3b64c4;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #000000;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #000000;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #000000;
}

.nav-link .text-uppercase .font-weight-bold {
  color: #000000;
}
