.JumboHeaderImg0 {
  background-image: url("../../assets/img/bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .carousel-item {
  width: 1400px;
  height: 400px;
} */

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: !important;
}

#sosmedicon a:link .fa,
#sosmedicon a:visited .fa {
  color: #57554d;
}
